.categories {
    a {
        text-decoration: none;
    }
    &__wrapper {
        display: flex;
        flex-basis: 1214px;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__heading {
        display: flex;
        justify-content: start;
    }

    &__cards-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.5rem;
    }

    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        //width: 50vw;
        width: 100%;
        margin: auto;
        max-width: 22em;
    }

    &__card:hover,
    &__card:focus {
        position: relative;
        padding: 2rem 2rem;
        box-sizing: border-box;

        $border: 5px;
        color: $primary-color1;
        background: $background-default;
        //background-clip: padding-box;

        border: solid #DDE9EA; 
        border-image-slice: 1;
        border-radius: 1rem;

        //box-shadow: linear-gradient(90deg, rgba(221, 233, 234, 0.6) 0% rgba(146, 247, 255, 0.41) 50.01% rgba(200, 221, 223, 0.86) 100%) -10px 20px;

        &:before {
            content: '';
            position: absolute;
            top: 20px; right: 10px; bottom: -20px; left: -10px;
            z-index: -1;
            margin: -$border;
            border-radius: 10px; 
            //background: $background-gradient-secondary;
            background: linear-gradient(90deg, rgba(221, 233, 234, 0.6) 0%, rgba(146, 247, 255, 0.41) 50.01%, rgba(200, 221, 223, 0.86) 100%);
          }
    }

    &__card-image {
    }

    &__card-title {
        position: relative;
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.3rem;
        color: $primary-color1;

        text-decoration: none;
        text-transform: capitalize;
        transition: 0.5s;
        &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background: $primary-color3;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }

        &:hover {
            text-decoration: none;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}



/***********************************/
/* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */