.gallery {
    background-image: url("../../../src/assets/gallery/gallery-ornament.png"),
        linear-gradient(90deg, #faedcd 0%, rgba(218, 246, 255, 1) 27.86%, rgb(235, 230, 255) 53.39%, #f0d6b2 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: left, left;

    padding-bottom: 2rem;

    margin-bottom: 5rem;

    &__wrapper {
        flex-basis: 1214px;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0.8rem;
        gap: 2rem;
    }

    &__heading {
        display: flex;
        justify-content: start;
    }

    &__heading-title {
        display: block;
    }

    &__heading-title::first-letter {
        text-transform: uppercase;
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.carousel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.carousel__wrapper {
    display: block;
    position: relative;
    height: 720px;
    width: 960px;
    margin: 0 auto;
}

.carousel__track-container {
    border-radius: 1rem;
    position: relative;
    height: 100%;
    width: 100%;

    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .2);
    overflow: hidden;
}

.carousel__track {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform ease-in 250ms;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button {
    display: flex;
    flex: 1 1 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__button > img {
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

.current-slide {
    background: $primary_color3;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    visibility: hidden;
}

@media screen, (orientation: portrait), (orientation: landscape) {
    @media (max-width: 1250px) {
        .gallery__wrapper {
            flex-basis: 960px;
        }
        .carousel__wrapper {
            height: 570px;
            width: 760px;
        }
    }

    @media (max-width: 999px) {
        .gallery__wrapper {
            flex-basis: 90%;
        }
        .carousel {
            gap: 1rem;
        }

        .carousel__wrapper {
            height: 390px;
            width: 520px;
        }
        .carousel__button > img {
            width: 40px;
            height: 40px;
        }
    }

    @media (max-width: 730px) {
        .gallery {
            background-image: linear-gradient(
                90deg,
                #faedcd 0%,
                rgba(218, 246, 255, 1) 27.86%,
                rgb(235, 230, 255) 53.39%,
                #f0d6b2 100%
            );
        }
        .carousel__wrapper {
            height: 342px;
            width: 456px;
        }
    }

    @media (min-width: 460px) and (max-width: 660px) {
        .carousel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .carousel__button {
            flex-basis: 30%;
        }

        .carousel__button--right > img {
            margin-left: auto;
        }
        .carousel__wrapper {
            order: -9;
            height: 342px;
            width: 456px;
        }
    }
    @media (min-width: 320px) and (max-width: 459px) {
        .carousel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .carousel__button {
            flex-basis: 30%;
        }

        .carousel__button--right > img {
            margin-left: auto;
        }
        .gallery__block {
            flex-basis: 100%;
        }
        .carousel__wrapper {
            order: -9;
            height: 237px;
            width: 316px;
        }
    }
}
