@import "../common/default-button";

.hero {
    &__wrapper {
        flex-basis: 1214px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3rem;
    }

    &__heading-text {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-family: "Raleway";
        font-style: normal;
        color: $primary-color1;
    }

    &__heading {
        font-weight: 700;
        font-size: 3.8rem;
        line-height: 130%;
    }

    &__heading-colored {
        color: $primary-color3;
    }

    &__subheading {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 130%;
    }

    &__heading-link {
    }

    &__image {
    }

    .default-button {
        max-width: 22rem;
        justify-content: center;
    }
}

/******************************/
/******************************/

@media (max-width: 1250px) {
    .hero__wrapper {
        flex-basis: 960px;
    }
    .hero__heading {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 110%;
    }

    .hero__subheading {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 100%;
    }
}

/********************************/
/********************************/

@media (max-width: 999px) {
    .hero__wrapper {
        flex-basis: 90%;
        justify-content: space-between;
    }

    .hero__image {
        width: 50%;
    }
}

/********************************/
/********************************/

@media (max-width: 899px) {
    .hero__wrapper {
        flex-basis: 90%;
    }
    .hero__heading {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 110%;
    }
    .hero__subheading {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 100%;
    }
}

/****************************/
/****************************/

@media (max-width: 730px) {
    .hero__wrapper {
        flex-direction: column-reverse;
    }

    .hero__image {
        width: 90%;
    }
    .default-button {
        font-size: 1.8rem !important;
        line-height: 1.6rem !important;
    }
}