.month-offer {
    margin-bottom: 5rem;

    p {
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
    }

    &__wrapper {
        display: flex;
        flex-basis: 1214px;
        flex-direction: column;
        justify-content: flex-start;

        padding: 1rem 0;
    }

    &__heading {
        display: flex;
        justify-content: start;
        padding: 1rem 0;
    }

    &__heading-title {
        display: block;
    }

    &__heading-title::first-letter {
        text-transform: uppercase;
    }

    &__cards-block {
        padding-top: 3rem;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 3rem;
        flex-wrap: nowrap;
    }

    &__card {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        margin-bottom: 2rem;
        gap: 1rem;
    }

    &__card-image img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 1rem;

        transition: box-shadow 0.3s ease-in-out;
    }

    &__card:hover {
        .month-offer__card-image img {
            border: 1px solid $primary-color2;
            margin: -1px;
            border-radius: 1rem;
            box-shadow: $primary-color2 -10px 20px;
        }
        .month-offer__card-info-title > h4 {
            transition: color 0.3s ease-in-out;

            color: $primary-color3;
        }
        .month-offer__card-info-subtitle {
            transition: color 0.3s ease-in-out;

            color: $primary-color1;
        }
    }

    &__card-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-info-title > h4 {
        color: $primary-color1;
        transition: color 0.3s ease-in-out;
    }

    &__card-info-title:hover {
        text-decoration: none;
    }

    &__card-info-subtitle {
        color: $primary-color3;
        transition: color 0.3s ease-in-out;
    }

    &__card-info-subtitle:hover {
        text-decoration: none;
    }

    &__card-info-cost-block {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    span {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 130%;
    }

    &__card-info-element:not(:first-child) {
        margin-top: 1rem;
    }
}

@media (max-width: 1250px) {
    .month-offer__wrapper {
        flex-basis: 960px;
    }

    .month-offer__card {
        flex: 1 1;
    }

    .month-offer__cards-block {
        flex-wrap: wrap;
    }
}

@media (max-width: 999px) {
    .month-offer__wrapper {
        flex-basis: 90%;
    }
}

@media (max-width: 730px) {
    .month-offer__cards-block {
        flex-basis: 90%;
    }
    .month-offer__card-image {
    }
    .month-offer__card-info {
    }
}

@media (max-width: 411px) {
    .month-offer__card {
        flex-wrap: wrap;
        justify-content: center;
    }

    .month-offer__card-info {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .month-offer__cards-block {
        height: 100%;
    }
}
