.region-service {
    padding-bottom: 2rem;
    margin-bottom: 5rem;

    &__wrapper {
        flex-basis: 1214px;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0.8rem;
        gap: 2rem;
    }
    &__heading {
        display: flex;
        justify-content: start;
    }

    &__heading-title {
        display: block;
    }

    &__heading-title::first-letter {
        text-transform: uppercase;
    }

    &__block {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 6rem;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image > iframe {
        position: relative;
        box-sizing: border-box;
        background: $background-default;
        background-clip: padding-box;
        border: 1px solid $primary-color2;
        border-radius: 1rem;      
        box-shadow: 0 0 2em 0 rgba(0, 0, 0, .2);  
    }

    &__text {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 1rem;
        font-family: "Raleway";
        font-style: normal;
        color: $primary-color1;
    }

    &__text-header {
    }
}

@media (max-width: 1250px) {
    .region-service__wrapper {
        flex-basis: 960px;
    }
}

@media (max-width: 999px) {
    .region-service__wrapper {
        flex-basis: 90%;
        justify-content: space-between;
    }

    .region-service__block {
        gap: 1.6rem;
    }
    .region-service__text-header {
        font-size: 2.4rem;
    }

    .region-service__text-description {
        font-size: 1.6rem;
    }

    .region-service__image {
        width: 100%;
    }
}

@media (max-width: 730px) {
    .region-service__block {
        flex-direction: column-reverse;
    }

    .region-service__image {
        //width: 90%;
    }

    .region-service__image > iframe {
        width: 100%;
    }
}