.super-sale {
    background-image: url("https://pashfire.github.io/paleski-blok/src/assets/super-sale/super-sale-ornament.png"),
        linear-gradient(90deg, #faedcd 0%, rgba(218, 246, 255, 1) 27.86%, rgb(235, 230, 255) 53.39%, #f0d6b2 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: right, right;

    padding-bottom: 2rem;

    margin-bottom: 5rem;

    &__wrapper {
        flex-basis: 1214px;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0.8rem;
    }
    &__heading {
        display: flex;
        justify-content: start;
    }

    &__heading-title {
        display: block;
    }

    &__heading-title::first-letter {
        text-transform: uppercase;
    }

    &__block {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1.5rem;
    }

    &__image {

    }

    &__info {
        padding-top: 3rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
    }

    &__prices {
        padding-top: 3rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
    }

    &__prices-cost-block {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    span {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 130%;
    }

}
@media screen and (min-width: 2500px) {
    .super-sale {
        background-image:
        linear-gradient(90deg, #faedcd 0%, rgba(218, 246, 255, 1) 27.86%, rgb(235, 230, 255) 53.39%, #f0d6b2 100%);
    }
}

@media (max-width: 1250px) {
    .super-sale__wrapper {
        flex-basis: 960px;
    }
}

@media (max-width: 999px) {
    .super-sale__wrapper {
        flex-basis: 90%;
    }
    .super-sale__image {
        width: 100%;
        object-fit:contain;
    }
}

@media (max-width: 730px) {
    .super-sale__block {
        flex-wrap: wrap;
    }
    .super-sale__image {
        max-width: 90%;
        object-fit: contain;

    }
}