//container breakpoints
@use 'sass:math';
$containerWidth: 1214;
$breakPoint1204: 1203.98 + px;


//palette colors
$primary-color1: #2B3F4A;
$primary-color2: #DDE9EA;
$primary-color3: #D3A237;

//link colors
$link-normal: #4456AD;

//background colors & gradients
$background-default: white;
$background-gradient-primary: linear-gradient(90deg, #FAEDCD 0%, rgba(218, 246, 255, 0.27) 27.86%, rgba(209, 201, 242, 0.39) 53.39%, #F0D6B2 100%);
$background-gradient-secondary: linear-gradient(90deg, rgba(221, 233, 234, 0.6) 0%, rgba(146, 247, 255, 0.41) 50.01%, rgba(200, 221, 223, 0.86) 100%);

//header
$input-search-background:$background-default;