@use 'sass:math';
html {
  font-family: "Raleway";
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 10px;
  line-height: 10px;
  color: #2B3F4A; }

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  margin: 0; }

h1 {
  font-size: 3.6rem;
  line-height: 130%; }

h2 {
  font-size: 2.8rem;
  line-height: 130%; }

h3 {
  line-height: 130%;
  font-size: 2.2rem; }

h4 {
  font-size: 1.8rem;
  line-height: 130%; }

p {
  font-size: 1.8rem;
  line-height: 130%; }

a {
  text-decoration: none;
  color: #4456AD; }
  a:hover {
    text-decoration: underline;
    cursor: pointer; }

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }

.header-navigation {
  background: white;
  margin-bottom: 5rem; }
  .header-navigation__wrapper {
    flex-basis: 900px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0; }
  .header-navigation__link {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: #2B3F4A;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s; }
    .header-navigation__link::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background: #D3A237;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s; }
    .header-navigation__link:hover {
      text-decoration: none; }
    .header-navigation__link:hover::after {
      transform: scaleX(1);
      transform-origin: left; }

.burger {
  width: 50px;
  cursor: pointer;
  /* don't need for small devices */
  display: none; }
  .burger__element {
    border-radius: 1rem;
    height: 0.5rem;
    /* <<--- This value also affects on element positioning */
    background: #2B3F4A;
    transition: all 0.3s;
    position: relative; }
  .burger__element + .burger__element {
    margin-top: 0.7rem; }
  .burger.active .burger__element:nth-child(1) {
    animation: ease 0.8s top forwards; }
  .burger__element:nth-child(1) {
    animation: ease 0.8s top-2 forwards; }
  .burger.active .burger__element:nth-child(2) {
    animation: ease 0.8s scaled forwards; }
  .burger__element:nth-child(2) {
    animation: ease 0.8s scaled-2 forwards; }
  .burger.active .burger__element:nth-child(3) {
    animation: ease 0.8s bottom forwards; }
  .burger__element:nth-child(3) {
    animation: ease 0.8s bottom-2 forwards; }

/************************************/
/*START of @media (max-width: 1250px)*/
/************************************/
@media (max-width: 1250px) {
  .header-navigation__wrapper {
    flex-basis: 960px; } }

/************************************/
/* END of @media (max-width: 1250px) */
/************************************/
/************************************/
/*START of @media (max-width: 999px)*/
/************************************/
@media (max-width: 999px) {
  .header-navigation__wrapper {
    flex-basis: 90%;
    justify-content: space-between;
    gap: 4rem; } }

/************************************/
/* END of @media (max-width: 999px) */
/************************************/
/************************************/
/*START of @media (max-width: 899px)*/
/************************************/
@media (max-width: 899px) {
  .header-navigation__link {
    font-size: 1.8rem;
    line-height: 1.8rem; }
  .burger {
    display: block;
    z-index: 999; }
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0); }
    50% {
      top: 1.32rem;
      transform: rotate(0); }
    100% {
      top: 1.32rem;
      transform: rotate(45deg); } }
  @keyframes top-2 {
    0% {
      top: 1.32rem;
      transform: rotate(45deg); }
    50% {
      top: 1.32rem;
      transform: rotate(0deg); }
    100% {
      top: 0;
      transform: rotate(0deg); } }
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0); }
    50% {
      bottom: 1.32rem;
      transform: rotate(0); }
    100% {
      bottom: 1.1rem;
      transform: rotate(135deg); } }
  @keyframes bottom-2 {
    0% {
      bottom: 1.32rem;
      transform: rotate(135deg); }
    50% {
      bottom: 1.32rem;
      transform: rotate(0); }
    100% {
      bottom: 0;
      transform: rotate(0); } }
  @keyframes scaled {
    50% {
      transform: scale(0); }
    100% {
      transform: scale(0); } }
  @keyframes scaled-2 {
    0% {
      transform: scale(0); }
    50% {
      transform: scale(0); }
    100% {
      transform: scale(1); } }
  /*****MENU*****/
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px); }
    to {
      opacity: 1;
      transform: translateX(0px); } }
  .header-navigation__wrapper {
    flex-direction: column;
    justify-content: space-around;
    height: 94vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100vw);
    background: linear-gradient(90deg, #faedcd 0%, #daf6ff 27.86%, #ebe6ff 53.39%, #f0d6b2 100%);
    transition: all 0.67s linear; }
  .nav-active {
    transform: translateX(0);
    transition: all 0.67s linear; }
  /*****END of MENU****/ }

/************************************/
/* END of @media (max-width: 899px) */
/************************************/
/**************************************/
/* START of @media (max-width: 459px) */
/**************************************/
@media (max-width: 459px) {
  .burger {
    width: 30px;
    display: block; }
  .burger__element + .burger__element {
    margin-top: 0.85rem; }
  .burger__element {
    height: 0.3rem; } }

/************************************/
/* END of @media (max-width: 459px) */
/************************************/
.header__wrapper {
  flex-basis: 1214px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8rem; }

.header__logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; }
  .header__logo-block:hover {
    text-decoration: none; }

.header__logo-img {
  width: 70px; }

.header__logo-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: 'Raleway';
  font-style: normal;
  color: #2B3F4A; }

.header__logo-title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.3rem;
  text-transform: uppercase; }

.header__logo-content {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: .03rem; }

.header__info-block {
  max-width: 285px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem; }

.header__search-block {
  max-width: 25rem;
  display: flex;
  align-items: center;
  border: 2px solid #2B3F4A;
  border-radius: 5rem;
  background-color: white;
  padding: 0rem 2rem;
  font-size: 1.4rem; }

.header__search-input {
  width: 100%;
  height: 3rem;
  background: none;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #2B3F4A; }

.header__phone-block {
  width: fit-content;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  color: #D3A237; }
  .header__phone-block:hover {
    text-decoration: none; }

@media (max-width: 1250px) {
  .header__wrapper {
    flex-basis: 960px; }
  .header__info-block {
    display: none; } }

@media (max-width: 999px) {
  .header__wrapper {
    flex-basis: 90%;
    justify-content: space-between; }
  .header__logo-text {
    min-width: 210px; } }

@media (max-width: 899px) {
  .header__search-block {
    display: none; }
  .header__phone-block {
    max-width: 230px; } }

@media (max-width: 730px) {
  .header__search-block {
    display: none; }
  .header__logo-text {
    display: none; }
  .header__phone-block {
    justify-content: center; } }

@media (max-width: 459px) {
  .header__logo-img {
    height: 60px; }
  .header__phone-block {
    font-size: 1.8rem;
    min-width: 171px; } }

@media (max-width: 459px) {
  .header__logo-img {
    height: 50px; }
  .header__phone-block {
    font-size: 1.4rem;
    min-width: 151px; } }

@media (max-width: 350px) {
  .header__phone-block {
    font-size: 1.4rem;
    min-width: 135px; } }

.default-button {
  align-items: center;
  background-color: #D3A237;
  border: 2px solid #D3A237;
  border-radius: 25px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  fill: white;
  transition: fill 0.5s, color 0.5s, background-color 0.5s; }
  .default-button:hover, .default-button:focus {
    background-color: white;
    border: 2px solid #D3A237;
    color: #2B3F4A;
    fill: #2B3F4A;
    transition: fill 0.5s, color 0.5s, background-color 0.5s; }
  .default-button__element {
    text-transform: capitalize; }
    .default-button__element:not(:last-child) {
      margin-right: 1.4rem; }

.hero {
  background-image: url("https://pashfire.github.io/paleski-blok/src/assets/hero/hero-ornament.svg");
  background-position: left;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin-bottom: 5rem; }
  .hero__wrapper {
    flex-basis: 1214px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem; }
  .hero__heading-text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3rem;
    font-family: "Raleway";
    font-style: normal;
    color: #2B3F4A; }
  .hero__heading {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 130%; }
  .hero__heading-colored {
    color: #D3A237; }
  .hero__subheading {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 130%; }
  .hero .default-button {
    max-width: 22rem;
    justify-content: center; }

/******************************/
/******************************/
@media (max-width: 1250px) {
  .hero {
    background-image: url("https://pashfire.github.io/paleski-blok/src/assets/hero/hero-ornament-min.svg"); }
  .hero__wrapper {
    flex-basis: 960px; }
  .hero__heading {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 110%; }
  .hero__subheading {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 100%; } }

@media screen and (min-width: 2500px) {
  .hero {
    background-image: none; } }

/********************************/
/********************************/
@media (max-width: 999px) {
  .hero__wrapper {
    flex-basis: 90%;
    justify-content: space-between; }
  .hero__image {
    width: 50%; } }

/********************************/
/********************************/
@media (max-width: 899px) {
  .hero__wrapper {
    flex-basis: 90%; }
  .hero__heading {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 110%; }
  .hero__subheading {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%; }
  .default-button {
    font-size: 1.8rem !important;
    line-height: 1.6rem !important; } }

/****************************/
/****************************/
@media (max-width: 730px) {
  .hero {
    background-image: none; }
  .hero__wrapper {
    flex-direction: column-reverse; }
  .hero__image {
    width: 90%; } }

/****************************/
/****************************/
@media (max-width: 459px) {
  .hero {
    background-image: none; }
  .hero__wrapper {
    flex-direction: column-reverse; }
  .hero__image {
    width: 100%; } }

.super-sale {
  background-image: url("https://pashfire.github.io/paleski-blok/src/assets/super-sale/super-sale-ornament.png"), linear-gradient(90deg, #faedcd 0%, #daf6ff 27.86%, #ebe6ff 53.39%, #f0d6b2 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: right, right;
  padding-bottom: 2rem;
  margin-bottom: 5rem; }
  .super-sale__wrapper {
    flex-basis: 1214px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.8rem; }
  .super-sale__heading {
    display: flex;
    justify-content: start; }
  .super-sale__heading-title {
    display: block; }
  .super-sale__heading-title::first-letter {
    text-transform: uppercase; }
  .super-sale__block {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5rem; }
  .super-sale__info {
    padding-top: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem; }
  .super-sale__prices {
    padding-top: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem; }
  .super-sale__prices-cost-block {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem; }
  .super-sale span {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 130%; }

@media screen and (min-width: 2500px) {
  .super-sale {
    background-image: linear-gradient(90deg, #faedcd 0%, #daf6ff 27.86%, #ebe6ff 53.39%, #f0d6b2 100%); } }

@media (max-width: 1250px) {
  .super-sale__wrapper {
    flex-basis: 960px; } }

@media (max-width: 999px) {
  .super-sale__wrapper {
    flex-basis: 90%; }
  .super-sale__image {
    width: 100%;
    object-fit: contain; } }

@media (max-width: 730px) {
  .super-sale__block {
    flex-wrap: wrap; }
  .super-sale__image {
    max-width: 90%;
    object-fit: contain; } }

.categories {
  margin-bottom: 5rem;
  background-image: url("https://pashfire.github.io/paleski-blok/src/assets/categories/categories-ornament.svg");
  background-position: left;
  background-repeat: no-repeat; }
  .categories a {
    text-decoration: none; }
  .categories__wrapper {
    display: flex;
    flex-basis: 1214px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0; }
  .categories__heading {
    display: flex;
    justify-content: start;
    padding: 1rem 0; }
  .categories__heading-title {
    display: block; }
  .categories__heading-title::first-letter {
    text-transform: uppercase; }
  .categories__cards-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap; }
  .categories__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 280px;
    margin: auto; }
  .categories__card:hover, .categories__card:focus {
    position: relative;
    box-sizing: border-box;
    background: white;
    background-clip: padding-box;
    border: 1px solid #dde9ea;
    border-radius: 1rem; }
    .categories__card:hover:before, .categories__card:focus:before {
      content: "";
      position: absolute;
      top: 20px;
      right: 10px;
      bottom: -20px;
      left: -10px;
      z-index: -1;
      margin: -2px;
      border-radius: 1rem;
      background: linear-gradient(90deg, rgba(221, 233, 234, 0.6) 0%, rgba(146, 247, 255, 0.41) 50.01%, rgba(200, 221, 223, 0.86) 100%); }
  .categories__card-image {
    width: 226px;
    height: 226px;
    object-fit: scale-down; }
  .categories__card-title {
    position: relative;
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #2B3F4A;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s; }
    .categories__card-title::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background: #D3A237;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s; }
    .categories__card-title:hover {
      text-decoration: none; }
    .categories__card-title:hover::after {
      transform: scaleX(1);
      transform-origin: left; }

@media screen and (min-width: 2500px) {
  .categories {
    background-image: linear-gradient(90deg, #faedcd 0%, #daf6ff 27.86%, #ebe6ff 53.39%, #f0d6b2 100%); } }

@media (max-width: 1250px) {
  .categories__wrapper {
    flex-basis: 960px; }
  .categories__card {
    width: 70%; }
  .categories__card-image {
    width: 70%; } }

@media (max-width: 999px) {
  .categories__cards-block {
    flex-wrap: wrap; }
  .categories__wrapper {
    flex-basis: 90%; }
  .categories__card {
    width: 50%; }
  .categories__card-image {
    width: 50%; } }

@media (max-width: 459px) {
  .categories__card {
    width: 70%; }
  .categories__card-image {
    width: 70%; } }

.services {
  padding-bottom: 2rem;
  margin-bottom: 5rem; }
  .services__wrapper {
    flex-basis: 1214px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.8rem;
    gap: 2rem; }
  .services__heading {
    display: flex;
    justify-content: start; }
  .services__heading-title {
    display: block; }
  .services__heading-title::first-letter {
    text-transform: uppercase; }
  .services__block {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 6rem; }
  .services__image {
    display: flex;
    justify-content: center;
    align-items: center; }
  .services__text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3rem;
    font-family: "Raleway";
    font-style: normal;
    color: #2B3F4A; }

@media (max-width: 1250px) {
  .services__wrapper {
    flex-basis: 960px; } }

@media (max-width: 999px) {
  .services__wrapper {
    flex-basis: 90%;
    justify-content: space-between; }
  .services__image {
    width: 100%; } }

@media (max-width: 730px) {
  .services__block {
    flex-direction: column; }
  .services__image {
    width: 90%; } }

.gallery {
  background-image: url("../../../src/assets/gallery/gallery-ornament.png"), linear-gradient(90deg, #faedcd 0%, #daf6ff 27.86%, #ebe6ff 53.39%, #f0d6b2 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: left, left;
  padding-bottom: 2rem;
  margin-bottom: 5rem; }
  .gallery__wrapper {
    flex-basis: 1214px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.8rem;
    gap: 2rem; }
  .gallery__heading {
    display: flex;
    justify-content: start; }
  .gallery__heading-title {
    display: block; }
  .gallery__heading-title::first-letter {
    text-transform: uppercase; }
  .gallery__block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }

.slider {
  position: relative;
  width: 100%;
  min-width: 200px;
  border-radius: 10px;
  overflow: hidden; }
  .slider__content {
    width: 300%;
    height: 100%;
    display: flex;
    color: black;
    transition: transform 0.75s ease; }
  .slider__box {
    width: calc(100% / 3);
    height: 100%; }
  .slider__image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
    object-fit: cover; }
  .slider__button-box {
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: solid #f0d6b2 5px;
    border-radius: 50px; }
    .slider__button-box--left {
      left: 1%; }
    .slider__button-box--right {
      right: 1%; }
  .slider__button {
    width: 30px;
    height: 30px; }
    .slider__button--prev-button {
      border-left: 5px solid #f0d6b2;
      border-bottom: 5px solid #f0d6b2;
      border-radius: 5px;
      transform: rotate(45deg); }
    .slider__button--next-button {
      right: 1%;
      border-right: 5px solid #f0d6b2;
      border-bottom: 5px solid #f0d6b2;
      border-radius: 5px;
      transform: rotate(-45deg); }
  .slider__circles {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px; }
  .slider__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 99;
    transition: transform 0.25s ease; }
    .slider__circle.active {
      transform: scale(1.5); }
  .slider__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    font-family: "Georgia", serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 1px 0 1px #000, 0 1px 1px #000, 0 -1px 1px #000, -1px 1px 1px #000, -1px 0 1px #000;
    z-index: 98; }

/*************************************************/
/*************************************************/
.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0); }

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px; }

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left; }

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right; }

.default-button {
  align-items: center;
  background-color: #D3A237;
  border: 2px solid #D3A237;
  border-radius: 25px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  fill: white;
  transition: fill 0.5s, color 0.5s, background-color 0.5s; }
  .default-button:hover, .default-button:focus {
    background-color: white;
    border: 2px solid #D3A237;
    color: #2B3F4A;
    fill: #2B3F4A;
    transition: fill 0.5s, color 0.5s, background-color 0.5s; }
  .default-button__element {
    text-transform: capitalize; }
    .default-button__element:not(:last-child) {
      margin-right: 1.4rem; }
