html {
    font-family: 'Raleway';
    font-size: 10px;
    line-height: 10px;
    color: $primary-color1;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-normal;
    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    
}